@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dar-blue-line: hsl(215, 32%, 27%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
}

body {
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue);
    line-height: 1.5;
    height: 100%;
    width: 100%;
    background-color: var(--very-dark-blue-main-bg);
}
p {font-size: 16px;}
a{cursor: pointer;}


.container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 10vh auto;
}

.wrapper {
    margin: 15px auto;
    width: 350px;
    height: 545px;
    background-color: var(--very-dark-blue-card-bg);
    border-radius: 12px;
    padding: 25px;
}
.img{
    cursor: pointer;
    position: relative;
}
.principal-img{
    width: 300px;
    height: 280px;
    border-radius: 12px;
}
.img::before{
    position: absolute;
    content: "";
    left: 50%;
    top: calc( 50% - 2px);
    transform: translate(-50%,-50%);
    background: linear-gradient(hsla(178, 100%, 50%, 0.493),hsla(178, 100%, 50%, 0.493));
    width: 100%;
    height: calc( 100% - 6px );
    border-radius: 12px;
    z-index: 1;
    transition: 0.5s ease;
    opacity: 0;
}
.img::after{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(30%,-50%);
    background-image: url(/images/icon-view.svg);
    z-index: 2;
    width: 50px;
    height: 50px;
    transition: 0.5s ease;
    opacity: 0;
}
.img:hover::before,
.img:hover::after{
    opacity: 1;
}
.img:hover::after{
    transform: translate(-50%,-50%);
}
.principal-text{
    padding: 15px 0;
}
.title{
    color: hsl(0, 0%, 100%);
    font-size: 22px;
}
.title:hover{color: var(--cyan);}

.side-by-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--very-dar-blue-line);
    padding: 15px 0;
}
.side-by-side p:first-of-type {
    color: var(--cyan);
}
.img-clock{
    padding-left: 100px;
}

.side {
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.avatar {
    width: 35px;
    height: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.side p {
    padding-left: 15px;
}
.span{color: #fff;}
.span:hover{color: var(--cyan);}

.attribution { font-size: 11px; text-align: center; padding-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }
